
<div class="try-list-wrapper">
  <div class="pull-right ">
    <button class="btn primary tiny" data-hull-action="reset">Reset</button>
    <button class="btn primary tiny" data-hull-action="fix">Fix Code</button>
    <button class="btn primary tiny" data-hull-action="prev">Prev</button>
    <button class="btn primary tiny" data-hull-action="next">Next</button>
  </div>
  <h3 class="title {{current.id}}">
    <strong>{{current.title}}</strong>
    <small>{{step}}/{{total}}</small>
  </h3>
  <hr>
  <ul class="try-list">
    <li class="">
      <p class="description gray-dark">{{current.description}}</p>
    </li>
  </ul>
</div>
